bin/
obj/
.vs/
*.user
*.suo
*.db
*.db-shm
*.db-wal
/Media/
.vscode/
.idea/
backup/
plex-lookup-cache.json
plex-show-bindings.json
plex-metadata.json
appsettings.Development.json
appsettings.Production.json
